<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  

    {{ resources|safe }}

    <style type="text/css">
      h2 {
          color:white;
      }
      </style>

    <title >F1Project </title>
  </head>
  <body style="background-color:#050926;">


      <main>
        {% block main %}

        
        <h2 sytle= 'font-style: italic; color:white; font-weight: bold; font-size: 20px; display:inline-block;' >
          F1 Project </h2>
        
          {{ script | safe }}
          {{ div|safe }}
        


        {% endblock %}
      </main>

    </body>
    
     
  
</html>